What I Learned

* Conditional Statements

* Ternary Operator

* Logical Operators

* Short Circuit Evaluation

* Chaining Comparison operators

* For Loops

* For..Else

* Nested Loops

* Iterables

* While Loop

* Infinite Loop

* Functions

* Arguments

* Types Of Functions

* Keyword arguments

* Default Arguments

* *args

* **kwargs

# Comparison Operators
. <
. <
. >=
. <=
. ==

In [3]:
# Conditional Statements

temperature = 35
if temperature>30:
    print("it's warm")
    print("Drink Plenty of water")
elif temperature>20:
    print("Dream weather")
else:
    print("it's cold")
print("Done")

it's warm
Drink Plenty of water
Done

In [4]:
# Ternary Operator
# Without Ternary Operator

age = 22
if age>18:
    print("Eligible")
else:
    print("Not eligible")

Eligible

In [7]:
# With Ternary Operator
# A ternary operator is a short, one-line way to write an ifâ€“else condition
# Itâ€™s also called a conditional expression

age = 22
message = "Eligible" if age>=18  else "Not Eligible" # Correct syntax: value_if_true if condition else value_if_false
print(message)

Eligible

In [9]:
# Logical Operators
# and
# or
# not

high_income = True
good_credit = True
student = False
if (high_income or good_credit)and not student:
    print("Eligible")
else:
    print("Not Eligible")

Eligible

In [ ]:
# Short Circuit Evaluation
# In python logical operators are short circuit

if (high_income or good_credit)and not student:
    print("Eligible")
else:
    print("Not Eligible")

In [10]:
# Chaining Comparison operators
# age should be between  18 and 65

if 18<= age <65:
    print("Eligible")

Eligible

In [11]:
# For Loops
for number in range(3):
    print("Attempt")

Attempt
Attempt
Attempt

In [12]:
for number in range(1,4):
    print("Attempt", number*".")

Attempt .
Attempt ..
Attempt ...

In [14]:
for number in range(1,10,2):
    print("Attempt",number, number * ".")

Attempt 1 .
Attempt 3 ...
Attempt 5 .....
Attempt 7 .......
Attempt 9 .........

In [22]:
# For..Else
successful = True
for number in range(3):
    print("Attempt")
    if successful:
        print("Successful")
        break

Attempt
Successful

In [23]:
successful = False
for number in range(3):
    print("Attempt")
    if successful:
        print("Successful")
        break
else:
    print("Attempted 3 times and failed")

Attempt
Attempt
Attempt
Attempted 3 times and failed

In [26]:
# Nested Loops

for x in range(3):
    for y in range(3):
        print(f"({x},{y})")

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)

# Iterable 
An iterable is an object that can return its elements one at a time and can be looped over using a for loop.

Real-life example ðŸŒŸ

Think of an iterable like a box of items:

You can take one item at a time;

Until the box is empty.

In [28]:
# Iterables
# range is iterable
# range is complextype

print(type(range(5)))

<class 'range'>

# Common Python iterables

* List â†’ [1, 2, 3]

* Tuple â†’ (1, 2, 3)

* String â†’ "hello"

* Set â†’ {1, 2, 3}

* Dictionary â†’ { "a": 1, "b": 2 }

* Range â†’ range(5)

In [29]:
# String
for x in "Python":
    print(x)

P
y
t
h
o
n

In [30]:
# List
number = [1,2,3,4,5]
for n in number:
    print(n)

1
2
3
4
5

# While Loop

while loop vs for loop
Use "for loop" when the number of iterations is known, and "while loop" when looping depends on a condition.

Example 

ðŸ½ï¸ Eating biscuits

for loop â†’ You have 5 biscuits

while loop â†’ You eat until you are full

In [31]:
command = ""
while command.lower()!="quit":
    command = input()
    print("Echo", command)

 hi

Echo hi

 23

Echo 23

 Quit

Echo Quit

In [1]:
# Infinite Loop
while True:
    command = input(">")
    print("Echo", command)
    if command.lower()=="quit":
        break

> Hi

Echo Hi

> quit

Echo quit

In [4]:
# Exercise
n = 0
for x in range(2,10,2):
    print(x)
    n +=1
    
print(f"We have {n} even numbers")

2
4
6
8
We have 4 even numbers

In [6]:
count = 0
for number in range(1,10):
    if number % 2 == 0:
        print(number)
        n += 1
print(f"We have {number} even numbers")

2
4
6
8
We have 9 even numbers

# Functions 

A function is a block of reusable code that does a specific task.

Instead of writing the same code again and again, you write it once and reuse it.

In [10]:
# Functions

def greet():
    print("Hello")
    print("Welcome on Board")

In [11]:
greet()

Hello
Welcome on Board

In [ ]:
# Arguments
Arguments vs Parameters

# ðŸ‘‰ Parameters are the names/variables written inside a function definition.
  They are like empty boxes waiting for values.


# ðŸ‘‰ Arguments are the actual values you pass to the function when calling it.
  They are the real data that goes into the boxes.

In [15]:
# defining a funaction


def greet(first_name, last_name):
    print(f"Hello {first_name} {last_name}")
    print("Welcome Aboard")

In [16]:
# Calling a Function


greet("Diya","Mathew")

Hello Diya Mathew
Welcome Aboard

In [ ]:
# Types of Functions

1. Perform a task
   eg. print()
2. Return a value
   eg. round()

In [17]:
# 1. perform a task functions


def greet(first_name, last_name):
    print(f"Hi {first_name} {last_name}")

In [18]:
greet("Diya", "Mathew")

Hi Diya Mathew

In [20]:
# 2. Return a Value


def get_greeting(name):
    return f"Hi {name}"

In [21]:
get_greeting("Diya Mathew")

'Hi Diya Mathew'

* Keyword arguments are arguments passed using parameter_name = value.

Instead of giving values by position, you explicitly tell Python which value belongs to which parameter.

In [23]:
# Keyword Arguments

def increment(number, by):
    return number + by

In [24]:
print(increment(2, by=1))

3

# Default Arguments

Default arguments are parameters that already have a value.
If you donâ€™t pass an argument, Python uses the default value.

In [25]:
# Default Arguments

def increment(number, by=1):   # All optional parameters come after required parameters
    return number + by

In [26]:
increment(2)

3

In [27]:
increment(2,4)

6

*args â†’ Multiple positional arguments

ðŸ‘‰ What is *args?

Allows a function to accept any number of positional arguments

Python stores them as a tuple

ðŸ§  Remember

args is just a name (you can use any name)

* is what matters

In [37]:
# *args

def multiply(*numbers):
    total = 1
    for number in numbers:
        print(number)
        total *= number
    return total

In [38]:
print(multiply(1,2,3,4,5))

1
total= 1
2
total= 2
3
total= 6
4
total= 24
5
total= 120
120

In [ ]:
ðŸ”¹ **kwargs â†’ Multiple keyword arguments

ðŸ‘‰ What is **kwargs?

Allows a function to accept any number of keyword arguments

Python stores them as a dictionary

In [39]:
def show_details(**kwargs):
    print(kwargs)

show_details(name="Diya", qualification="Advanced MSc", role="AI Engineer")

{'name': 'Diya', 'qualification': 'Advanced MSc', 'role': 'AI Engineer'}